.unit > label {
    display: block;
}

.longText, .oneList, .severalList, .dropList, .codeEditor {
    display: none;
}

:root {
    --main-color: seagreen;
    --block-bg-color: whitesmoke;
    --custom-border: solid 2px var(--main-color)
}

html {
    background-color: darkseagreen;
    font-family: Trebuchet MS, serif;
    font-size: 16px;
}

.main {
    width: 35%;
    margin: 0 auto;
}

.under-blocks {
    margin-top: 20px;
    margin-bottom: 50px;
}

.submit-button {
    padding: 15px 20px;
    background-color: var(--main-color);
    border: none;
    border-radius: 13px;
    cursor: pointer;

    color: var(--block-bg-color);
    font-size: 17px;
}

.block {
    background-color: var(--block-bg-color);
    border-radius: 10px;
    padding: 5px 20px 1px;
    margin-bottom: 20px;
}

.quiz-group {
    margin-bottom: 25px;
    margin-top: 25px;
<!-- border: solid;  DEBUG TODO DELETE -->
}

.quiz-form-header {

}

.quiz-group-header {
    font-size: 20px;
}

.quiz-form-header .quiz-group-header {

}

.quiz-element-input {
    background-color: var(--block-bg-color);
    margin-top: 5px;
    font-size: 15px;
    width: 99%;
}

.oneList-option {
    display: flex;
}

.severalList-option {
    display: flex;
}

.autocheck-choice {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    margin: auto;
}

.answer {
    flex: 2;
    margin: 10px;
}

.delete-option {
    background-color: transparent;
    border: none;
    color: #333; /* цвет крестика */
    cursor: pointer;
    font-size: 30px;
    outline: none;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.delete-option::after {
    content: "×"; /* символ крестика */
    text-align: end;
}

/* Стиль для кнопки при наведении курсора */
.delete-option:hover {
    color: #f00; /* цвет крестика при наведении курсора */
}

.CodeMirror pre.CodeMirror-placeholder{
    opacity: 0.5;
}

button {
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
    justify-content: center;
    display: block;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 20px;
    padding-bottom: 10px;
}

.vertical {
    display: block;
}

.element-choice {
    padding: 2px 0;
}

.tmp {
    width: 100%;
}

select {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    border-style: double;
}

input {
    border: none;
    border-bottom: var(--custom-border);
}

textarea {
    resize: vertical;
    border: var(--custom-border);
    border-radius: 5px;
}

input:focus, textarea:focus {
    outline: none;
}

img {
    width: 100%;
    border-radius: 5px;
}

.element-description {
    padding-bottom: 5px;
}

.element-code {
    font-family: monospace;
    font-size: 17px;
    white-space: pre;
    padding: 6px 0;
}

.element-choice > label {
    cursor: pointer;
}


input[type='radio'], input[type='checkbox']  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

input[type='checkbox'] {
    border-radius: 4px;
}

input[type='radio']:checked, input[type='checkbox']:checked {
    border: 6px solid var(--main-color);
    outline: unset !important /* Edge (chromium) support */
}