html {
    box-sizing: border-box;
    background: #014E3D;
}
*, *::before, *::after{
    box-sizing: border-box;
}

div{
    display: flex;
}

.login{
    flex-direction: column;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}

div .form-group{
    flex-direction: column;
    margin-top: 0.5em;
}

div .form-group input{
    border: 2px solid purple;
    border-radius: 5px;
    height: 30px;
}

#username-error, #password-error {
    display: none;
    color: red;
}

