@import "constants.css";

html {
    box-sizing: border-box;
    background: var(--block-bg-color);
}
*, *::before, *::after{
    box-sizing: border-box;
}

.login {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    border: none;
    border-bottom: var(--custom-border);
    width: 100%;
}

.form-group {
    margin-bottom: 25px;
}

h1 {
    font-size: 1.2em;
    padding-bottom: 30px;
}

.auth-signup-button {
    margin: 0;
}

.myButton {
    display: inline;
}

.buttons {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}
#username-error, #password-error, #repeat-password-error {
    padding-top: 10px;
    display: none;
    color: red;
}

.redirect-button {
    color: purple;
}

@media screen and (max-width: 980px){
    .login {
        width: 55%;
        font-size: 2.5em;
    }
}