@import "constants.css";

.under-blocks {
    float: right;
}

.score-container {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}

.bt_minus, .bt_plus, .quantity {
    height: 40px;
    width: 40px;
    border: 0;
    background: whitesmoke;
    cursor: pointer;
    border-radius: 26px;
}
.quantity {
    width: 30px;
    text-align: center;
    font-size: 30px;
    color: dimgrey;
}
.bt_minus svg, .bt_plus svg {
    stroke: var(--accent-color);
    stroke-width: 4;
    transition: 0.3s;
    fill: none;
    height: 20px;
    width: 20px;
}
.bt_minus:hover svg, .bt_plus:hover svg {
    stroke: #000;
}

@media screen and (max-width: 980px) {
    .bt_minus, .bt_plus, .quantity {
        height: 80px;
        width: 80px;
    }
    .quantity {
        width: 40px;
        font-size: 70px;
    }

    .bt_minus svg, .bt_plus svg {
        height: 60px;
        width: 60px;
    }
}