@import "constants.css";

.score-container {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}

.bt_minus, .bt_plus, .quantity {
    height: 40px;
    width: 40px;
    border: 0;
    background: whitesmoke;
    cursor: pointer;
    border-radius: 26px;
}
.quantity {
    width: 30px;
    text-align: center;
    font-size: 30px;
    color: dimgrey;
}
.bt_minus svg, .bt_plus svg {
    stroke: var(--accent-color);
    stroke-width: 4;
    transition: 0.3s;
    fill: none;
    height: 20px;
    width: 20px;
}
.bt_minus:hover, .bt_plus:hover {
    transition: 0.5s;
    background-color: #e6ebeb;
    border-radius: 50%;
}

.max-points {
    font-size: 30px;
    color: dimgrey;
}

.question-header {
    display: flex;
    justify-content: space-between;
}

.under-blocks {
    display: flex;
    justify-content: space-between;
}

.current-total-score-container {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: whitesmoke;
}

#total-score, #max-score {
    display: inline;
    font-size: 40px;
    color: dimgrey;
}

.results-button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    border: solid 1px dimgrey;
    border-radius: 20px;
    background-color: var(--white-color);
    cursor: pointer;
}

table {
    border: 1px solid grey;
    border-collapse: collapse;
}

td {
    border: 1px solid grey;
    padding: 10px 20px;
}

.name-container * {
    display: inline;
}

.name-container {
    color: dimgrey;
}

.name {
    color: black;
    /*font-style: italic;*/
}


@media screen and (max-width: 980px) {
    .bt_minus, .bt_plus, .quantity {
        height: 80px;
        width: 80px;
    }
    .quantity {
        width: 40px;
        font-size: 70px;
    }

    .bt_minus svg, .bt_plus svg {
        height: 60px;
        width: 60px;
    }

    .modal *, .modal p {
        font-size: 40px;
    }

    .question-header * {
        font-size: 40px;
    }
}