:root {
    --header-color: #FFA768;
    --accent-color: #005381;
    --accent2-color: #BAD2DF;
    --accent3-color: #d4d8de;
    --block-bg-color: #FFFFFF;
    --page-bg-color: #EBEBEB;
    --custom-border: solid 2px var(--accent-color);
    --box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);

    --font-title-size: 30px;
    --font-header-size: 24px;
    --font-regular-size: 20px;
    --font-mini-size: 16px;

    --input-font-size: 18px;
    --font-h3-size: 18px;
    --border-radius: 35px;

    --hover-color: #6F95AA;
    --hover-text-color: white;
}