/* index navigation */

.index-nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-button {
    box-shadow: none;
}

.nav-button.active {
    background-color: var(--accent-color);
    color: white;
}

.nav-button.inactive {
    background-color: rgba(0, 0, 0, 0);
    color: black;
}


/* blocks wrapper */
.blocks-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--border-radius);
    margin: 20px 60px;
    padding: 20px 40px;
    width: 75%;
    background-color: var(--block-bg-color);
}

.clamped-info {
    width: 100%;
    padding: 0;
    margin: 0;
    max-height: 255px;
    overflow-y: auto;
}


/* Quizzes */

.group-name {
    margin-top: 20px;
}


.base-quiz {
    width: 100%;
    overflow-x: auto;

    padding: 15px 40px;
    margin: 10px 0;

    display: grid;
    grid-template-columns: 40% 25% 35%;
    grid-template-areas: "A B C";

    border-radius: var(--border-radius);
    background-color: var(--accent2-color);
}

.base-quiz .quiz-header {
    display: grid;
    grid-area: A;
    justify-content: start;
    align-self: center;
}

.base-quiz .quiz-mark {
    display: grid;
    grid-area: B;
    justify-content: center;
    align-self: center;
}

.base-quiz .quiz-time {
    display: grid;
    grid-area: C;
    justify-content: end;
    align-self: center;

    color: black;
    opacity: 0.5;
    pointer-events: none;
}

.base-quiz .quiz-edit-href {
    display: grid;
    grid-area: C;
    justify-content: end;
    align-self: center;
}

.base-quiz .quiz-edit-href img {
    height: 35px;
}

.base-quiz:not(:has(.quiz-mark)) {
     grid-template-areas: "A . C";
 }


/* Group Page */

.admin-group-header-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 30px;
}

.admin-group-settings-btn {
    height: 100%;
}

.group-create-group-btn-wrapper {
    margin: 0 60px;
    padding: 0 80px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-create-group-btn-wrapper .block button {
    width: 100%;
}

.groups-quiz-wrapper {
    width: 100%;
    display: flex;
}

.groups-quiz-nav-wrapper {
    flex-grow: 1;
}

.groups-quiz-nav-buttons-wrapper {
    position: sticky;
    top: 120px;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--block-bg-color);
    border-radius: var(--border-radius);
    margin-top: 20px;
    margin-left: calc(100% - 70% + 10%);
    padding: 20px 0px;
}

.groups-quiz-nav-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10% 20%;
    gap: 10px;
}

.groups-quiz-nav-button.active {
    color: white;
    background-color: var(--accent-color);
}

.groups-quiz-nav-button.inactive {
    color: black;
    background-color: rgba(0, 0, 0, 0);
}

.groups-quiz-blocks-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.groups-quiz-blocks-wrapper .block {
    width: 85%;
}

.groups-quiz-wrapper .hidder {
    width: 75%;
}


/* admin quizzes page */

.quiz-check-href {
    color: black;
    text-decoration: underline black solid;
}

.quiz-search-and-create-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.quiz-search-and-create-wrapper .search-field {
    width: 70%;
}

.quiz-search-and-create-wrapper .create-quiz-btn {
    width: 40px;
}
