.unit > label {
    display: block;
}

.longText, .oneList, .severalList, .dropList, .codeEditor, .databaseId {
    display: none;
}

.main {
    width: 55%;
    margin: 0 auto;
}

.under-blocks {
    margin-top: 20px;
    margin-bottom: 50px;
}

.submit-button {
    padding: 15px 20px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 13px;
    cursor: pointer;

    color: var(--block-bg-color);
}

.block {
    background-color: var(--block-bg-color);
    border-radius: var(--border-radius);
    margin-bottom: 40px;
    padding: 40px 30px 30px;
}

.quiz-group {
    margin-bottom: 30px;
}

.quiz-group:nth-last-child(1) {
    margin-bottom: 5px;
}

.quiz-element-input {
    background-color: #FFFFFF;
    margin-top: 5px;
    width: 99%;
    font-size: var(--input-font-size);
}

.quiz-header-label {
    font-size: 26px;
}

.quiz-question-header-label {
    font-size: 22px;
}

.quiz-group-header {
    font-size: 20px;
}

.oneList-option {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.severalList-option {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.autocheck-choice {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    margin: auto;
}

.answer {
    flex: 2;
    margin: 0 10px;
}

.CodeMirror pre.CodeMirror-placeholder{
    opacity: 0.5;
}

.vertical {
    display: block;
}

.element-choice {
    padding: 2px 0;
}

select {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    border-style: double;
}

input {
    border: none;
    border-bottom: var(--custom-border);
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

textarea {
    resize: vertical;
    border: var(--custom-border);
    border-radius: 5px;
}

input:focus, textarea:focus {
    outline: none;
}

img {
    width: 100%;
    border-radius: 5px;
}

.element-description {
    padding-bottom: 5px;
}

.element-choice > label {
    cursor: pointer;
}


input[type="text"] {
    font-size: var(--input-font-size);
}

input[type='radio'], input[type='checkbox']  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

input[type='checkbox'] {
    border-radius: 4px;
}

input[type='radio']:checked, input[type='checkbox']:checked {
    border: 6px solid var(--accent-color);
    outline: unset !important /* Edge (chromium) support */
}

input, textarea {
    background-color: var(--page-bg-color) !important;
}

.select {
    width: 99%;
    margin-top: 5px;
}

.add-option-btn {
    background-color: var(--accent2-color);
    border-radius: 8px;
    margin: 10px;
    padding: 10px 20px;
}

.remove-unit {
    background-color: var(--accent2-color);
    border-radius: 8px;
    margin: 10px;
    padding: 10px 20px;
}

#add-unit-button, .build-button {
    width: 100%;
    border-radius: 8px;
    background-color: var(--accent2-color);
    margin: 0 0 1em;
    padding: 10px 20px;
}