@import 'constants.css';

:root {
    --white-color: whitesmoke;
    --custom-border: solid 2px var(--accent-color)
}


.main {
    width: 55%;
    margin: 0 auto;
}

.block {
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    margin-bottom: 40px;
    padding: 30px;
}

.element-input {
    background-color: var(--white-color);
    font-size: 1.2rem;
    width: 99%;
}

h2 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.element-choice {
    padding: 2px 0;
}

input {
    border: none;
    border-bottom: var(--custom-border);
}

textarea {
    resize: vertical;
    border: var(--custom-border);
    border-radius: 5px;
}

input:focus, textarea:focus {
    outline: none;
}

img {
    width: 100%;
    border-radius: 5px;
}

.element-description {
    padding-bottom: 5px;
}

.element-code {
    font-family: monospace;
    font-size: 17px;
    white-space: pre;
    padding: 6px 0;
}

.element-choice > label {
    cursor: pointer;
}

.under-blocks {
    margin-top: 20px;
    margin-bottom: 50px;
}

.submit-button {
    padding: 15px 20px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 13px;
    cursor: pointer;
    height: 100%;

    color: var(--white-color);
    font-size: 17px;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    display: inline;
}

.question-number {
    opacity: 0.5;
    margin-bottom: 4px;
    font-size: 1.1rem;
}

.question-header {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.quiz-title {
    font-size: 1.4rem;
}

input[type='radio'], input[type='checkbox']  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

input[type='checkbox'] {
    border-radius: 4px;
}

input[type='radio']:checked, input[type='checkbox']:checked {
    border: 6px solid var(--accent-color);
    outline: unset !important; /* Edge (chromium) support */
}

#time {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
    background-color: var(--white-color);
}

.thanks {
    display: none;
}

@media screen and (max-width: 980px) {
    .main {
        width: 97%;
        font-size: 1.5em;
    }

    #time {
        font-size: 50px;
    }

    input {
        border-bottom: solid 4px var(--accent-color);
    }

    textarea {
        border: solid 4px var(--accent-color);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    input[type="text"] {
        font-size: 50px;
    }

    .element-input {
        padding-top: 15px;
        margin-bottom: 15px;
    }

    .element-choice {
        padding-top: 30px;
    }

    input[type='radio'], input[type='checkbox'] {
        width: 40px;
        height: 40px;
    }

    input[type='radio']:checked, input[type='checkbox']:checked {
        border: 13px solid var(--accent-color);
    }

    h2 {
        font-size: 40px;
    }

    .submit-button {
        font-size: 50px;
        padding: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
        border-radius: 30px;
    }

    .question-number, .element-description, span, .element-choice {
        font-size: 1.7em;
    }

    h2 {
        font-size: 2em;
    }
}