@import 'constants.css';

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

html {
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

*:focus {
     border: solid var(--accent-color);
}

body {

}

html {
    overflow-y: scroll;  /* Без этого на маленьких страницах без скролла шапка сдвигается на несколько пикселей */
    background-color: var(--page-bg-color);
}

.header {
    width: 100%;
    height: 70px;

    padding: 5px 10% 5px 5%;

    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--page-bg-color);
}


.header-logo-href {
    width: 100%;
    height: 100%;
}

.header-logo-img {
    width: 100%;
    height: 100%;
}

.logos-list-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 90%;
    gap: 20%;
    z-index: 100000;
}

.menu-btn {
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.menu-img {
    width: 80%;
    height: 100%;
}

.auth-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

button {
    justify-content: center;
    display: block;
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    text-decoration: none;
    color:  black;
}

.auth-signup-button {
    text-decoration: none;
    color: var(--accent-color);
    margin: 0 10px;
    padding: 5px 15px;
    border-radius: 8px;
    font-weight: bold;
}

.auth-logout-button {
    text-align: center;
    background-color: var(--accent-color);
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
}

.auth-logout-button:hover {
    background-color: var(--hover-color);
    color: var(--hover-text-color);
}

h2 {
    color: black;
    font-size: 24px;
}

hr {
    border: none;
    border-top: 3px solid var(--accent-color);
    margin: 4px 0;
    color: var(--accent-color);
}


/* Крестик для закрытия/удаления */

.delete-option {
    background-color: transparent;
    border: none;
    color: var(--accent-color); /* цвет крестика */
    cursor: pointer;
    font-size: 30px;
    outline: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.delete-option::after {
    content: "×"; /* символ крестика */
}

/* Стиль для кнопки при наведении курсора */
.delete-option:hover {
    color: #f00; /* цвет крестика при наведении курсора */
    background-color: unset;
}

.backend-data {
    display: none;
}


.search-field {
    padding: 4px 20px;
    height: 35px;
    border: none;
    border-radius: 100px;
    outline: none;
}
